<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rokid.glass.libbase" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <service android:name=".music.MusicPlayService"
            android:exported="true"
            android:enabled="true"/>
    </application>
</manifest>
